.register {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

.input {
    margin: 10px;
    border-radius: 18px;
    padding: 8px;
    text-align: center;
}


.errorText {
    height: 20px;
    color: red;
    margin-bottom: 5px;
}

.wrapProfile {
    border: 1px solid;
    display: flex;
    margin: 0 auto;
   max-width: 413px;
    height: 540px;
    background: #F9F9FE;
    box-shadow: 0 4px 64px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    padding: 20px 48px;
    box-sizing: border-box;

}
@media (max-width: 431px) {
    .wrapProfile{
        max-width: 300px;
        padding: 20px 10px;

    }
    
}

.wrapAva {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;


}

.wrapInfo {

    margin: 10px;
    display: flex;
    flex-direction: column;
}

.infoBlock {
    display: flex;
    flex-direction: row;
}

.titles {
    width: 85px;
    text-align: left;
    opacity: 0.5;

}

.info {
    word-wrap: break-word;
    justify-content: flex-start;
}

.background {
    background-color: #E5E5E5;
    height: 100vh;
}