
.forgotPasswordBlock {
    background-color: #2D2E46;

    position: absolute;
    width: 413px;
    height: 540px;
    left: 434px;
    top: 84px;

    background: #F9F9FE;
    border-radius: 8px;
}

.forgotPasswordBtn {

    /*position: absolute;*/
    /*left: 0%;*/
    /*right: 0%;*/
    /*top: 0%;*/
    /*bottom: 0%;*/

    background: #21268F;
    /*box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);*/
    /*border-radius: 30px;*/

}
